$main-bck-colordark:#374F4C;
$main-txt-color:#3E3E42;
$main-title-color:#374F4C;
$main-bck-color:#FDF7F0;
$main-bck-slider:#EDE5DC;
$main-bck-white:#EDE5DC;
$main-modal-btn:#F8F9FA;
$main-modal-bck:#CAD4BD;
$main-modal-txt:#c1c3bf;
$main-modal-btn:#b62626;
$main-footer-bck:#F3DCC4;
$main-footer-border:#484e5444;
$main-footer-span:#000000;
$main-footer-navlink:#eebc17;