@import '/src/Sass/Color.scss';

@mixin buttonStyle  {

    width: 125px;
    height: 43px;
    border: 2px solid $main-bck-color;;
    border-radius: 60px;
    color:$main-txt-color;
    font-size: 14px;
    background-color: $main-modal-bck;
    cursor: pointer;
}
@mixin connectbtn{
    width: 100px;
    margin: 0 auto;
    color:$main-bck-colordark;
    text-decoration: none;
    font-size: 25px;
    border:none;
    background-color:$connect-bck-color;
    font-weight: 500;
    cursor: pointer;
}