@import "/src/Sass/Color.scss";

.Legal {
  padding: 20px 50px 50px 50px;
  &__menu{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    position: sticky;
    align-items: center;
      top:0px;
      background-color: white;    height: 53.3333px;
      min-height: 0px;
      overflow: visible;
    img{
      height: 48px;
      width: 275px;
    }
    &-nav{
      ul{
        display: flex;
        gap: 20px;
        a{
          color:$main-txt-color;
          font-weight:500;
          letter-spacing: 0.7px;
        }
      }
    }
  }
  h2{
    margin: 30px 0px;
    color: $main-txt-color;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 30px;
  }
  &__about{
    display: flex;
    flex-direction: column;
    gap: 30px;
    p{
      color:$legal-txt-color;
      margin-top: 5px;
      line-height: 23px;
    }
    h3{
      color: $main-txt-color;
      font-weight: 400px;
      letter-spacing: 0.8px;
    }
  }
  &__footer{
    position: relative;
    margin-top: 35px;
    background-color: $main-bck-colordark;
    height: 250px;
    padding: 15px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
      img{
        height: 33px;
        width: 40px;
      }
      .first__p{
        font-size: 24px;
        display: flex;
        align-items: center;
        gap: 10px;
        color:$main-bck-color;
      }
      .second__p{
        width: 600px;
        margin-top: 15px;
        color: $legal-txt-color;
        line-height: 23px;
      }
      a{
        color: $legal-txt-color;
        font-size: 18px;
        margin-top: 7px;
      }
      &-touch{
        background-color: $legal-animate-color;
        position: absolute;
        margin: -44px 0 0 0;
        padding: 10px 20px 6px 20px;
        top:27px;
        left: 10px;
        color:$main-bck-color;
      }
      &-touch::before{
        border-right: 10px solid $main-footer-span;
        border-top: 16px solid transparent;
        content: "";
        display: block;
        height: 0;
        right: 100%;
        position: absolute;
        top: 0;
        width: 7px;
     }
  }
} 
