@import "/src/Sass/Color.scss";

.MainHome {
	background-color: $main-bck-color;
	padding: 50px 20px 0px 20px;
  .conteiner{
   display: flex;
   justify-content: space-between;
  }
  &__leftSection {
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    h1 {
      font-family: "Times New Roman", Times, serif;
      font-size: 46px;
      line-height: 50px;
      letter-spacing: 1px;
      color: $main-title-color;
			font-weight: 400;
    }
    p {
      line-height: 25px;
      letter-spacing: 0.32px;
      font-size: 18px;
      color: $main-txt-color;
    }
		span{
			font-size: 14px;
			line-height: 25px;
			color: $main-txt-color;
		}
    &-btn {
      display: flex;
      gap: 10px;
    }
    .apple,
    .google {
      width: 170px;
      height: 55px;
      cursor: pointer;
    }
    .brand_logo {
      img {
        width: 112px;
        height: 50px;
        padding: 0px 10px;
      }
    }
  }
  &__rightSection{
    .mobile{
      width: 290px;
      height:584px;
    }
  }
  .MainHome__centrSection{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-left: 150px;
  .givingAway{
      width: 240px;
      height: 220px;
    }
    .girlImg{
      width:200px ;
      height:150px ;
    }
  }
  
}
